*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: #060017;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

    .cabeçalho-imagem{
width: 10%;
    }

    .cabeçalho-lista-item{
        display: inline-block;
        margin: 0 77px;
        font-size: 24px;
    }
    .loja-de-esportes-imagem{
        width:20% ;
    }

    .loja-de-esportes{
        background-image: linear-gradient(#060017,#07FADD);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
    }

    .loja-de-esportes-div-conteudo{
        width: 60%;
    }
    .loja-esportes-titulo{
        padding: 24px 0;
    }

    .imagem-produto{
        width: 200px;
    }

    .imagem-produto{
        width: 120px;
    }

    .produto-div{
        align-items: center;
    }

    .produtos-titulos{
    text-align: center;
    padding: 50px 0;
    }
   
    .imagem-todos{
        display: grid;
        grid-template-columns: 8% 8% 8% 8% 8% 8% 8%;
    }